/* FOR THE ALBUM SHORTCODE, which wraps around the Songs shortcode (most of the time) */


.hd-album {
height: 150px;
}
.hd-album-container {
position: relative;
font-size: medium;
}

.hd-album-thumbnail {
float: left;
top: 0;
left: 0;
padding-right: 7px;
}

.hd-album-title {
font-size: x-large;
}
 
.hd-album-text {
padding: 7px;
}

.hd-album-buynow {
float: right;
position: relative;
bottom: 0;
right: 0;
}

.hd-album-buy-CD, .hd-album-moreinfo, .hd-album-buy-all-mp3s {
float: right;
}

ul.albumlist {
    list-style-type: none;
}

li.album:nth-of-type(even) {
   background-color: #dfdfdf;
}

.hd-album-individual-media {
font-size: medium;
position: relative;
height: 29px;
clear: both;

}

ul.albumlist li, ul.songlist li {
    margin-left:auto;
}

/* For the SONG shortcode */

ul.songlist {
list-style-type: none;
}

li.song:nth-of-type(even) {
   background-color: #dfdfdf;
}

.hd-album-individual-song {
font-size: medium;
position: relative;
height: 29px;
clear: both;
}
.bigger2 {
/* position: fixed; */
/* float: left; */
}

.hd-album-song-mp3j {
    float: left;
    max-width:66%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.hd-album-song-title {
float: left;
font-weight: bold;
line-height: 29px;
max-width:66%;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.T_mp3j, .T_mp3t {
    display:inline-block;
    max-width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
    
.hd-album-song-price {
float: right;
line-height: 29px;
}

.hd-album-song-buynow {
float: right;
padding-right: 12px;
}

.hd-album-song-moreinfo {
float: right;
}

/* For the MERCH shortcode */

.hd-individual-merch {
    position: relative;
    font-size: medium;
    min-height: 150px; 
}

.hd-merch-thumbnail {
    float: left;
    top: 0;
    left: 0;
    padding-right: 7px;
}

.hd-merch-title {
    font-size: x-large;
}

.hd-merch-text {
    padding: 7px;
}

.hd-merch-moreinfo {
    float: right;
}

.hd-merch-price {
    float: right;
    line-height: 29px;
}

.hd-merch-buynow {
    float: right;
    padding-right: 12px;
}

.hd-merch-description {
    padding: 7px;
    position: relative;
    float: left;
}